h1{
    color: rgb(3, 3, 3);
}
ul{
    list-style: none;
    display: inline;
    border: 4px double chartreuse;
    display: block;
    color: rgb(33, 190, 67);
}
ol{
    color: rgb(255, 0, 21);
    align-items: center;
}
body{
    background-image: url(image/cute.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aqua;
    
}
table{
    border: 4px double;
}

tr, td, th {
    padding: 20px;
    border: 2p;
    border: 4px double rgb(42, 14, 204);
}
nav{
    float: right;
    /* list-style: none; */
     display: inline-flex;
     padding: 50px;
     
}